django==4.2.11
django-extensions==3.2.3
django-jazzmin==2.6.0
django-debug-toolbar==4.3.0
pylibmc==1.6.3
psycopg2-binary
djangorestframework
drf-yasg
django-redis==5.4.0
django-celery-results==2.5.1
celery==5.2.7
Django-Cloudinary-storage
django-storages
Pillow
cloudinary